/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2b1648;
	--sl-color-accent: #8713e9;
	--sl-color-accent-high: #01f593;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #01f593;
	/* --sl-color-gray-2: #01f593; */
	/* --sl-color-gray-3: #01f593; */
	--sl-color-gray-4: #236a00;
	--sl-color-gray-5: #A330C9;
	/* --sl-color-gray-6: #0b3000; */
	/* --sl-color-black: #051f00; */

	--sl-content-width: 55rem; /* 45rem; default */
	--sl-sidebar-width: 18rem; /* 18.75rem; default */
	--sl-font: 'GeistMono', serif;
	.sl-link-card .description {
		color: #01f593;
	}
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ddcdfe;
	--sl-color-accent: #A330C9;
	--sl-color-accent-high: #3f186b;
	--sl-color-white: #051f00;
	--sl-color-gray-1: #A330C9;
	--sl-color-gray-2: #144400;
	--sl-color-gray-3: #A330C9;
	--sl-color-gray-4: #A330C9;
	--sl-color-gray-5: #A330C9;
	--sl-color-gray-6: #01f593;
	/* --sl-color-gray-6: #01f593; */
	/* --sl-color-gray-7: #e6ffdf; */
	--sl-color-black: #ffffff;

	--sl-content-width: 55rem; /* 45rem; default */
	--sl-sidebar-width: 18rem; /* 18.75rem; default */
}
