---
import type { Props } from '@astrojs/starlight/props';
// import Default from '@astrojs/starlight/components/PageFrame.astro';

// now loaded via customCss instead
import '../styles/background.css';
---

<div style="position: relative;"></div>
<canvas id="bg-canvas"></canvas>
<canvas id="overlay-canvas"></canvas>

<script src="../scripts/page-background.ts"></script>
<!-- Uncomment if replacing PageFrame instead of calling <Background /> on each page -->
<!-- <Default {...Astro.props}>
    <slot />
    <slot name="header" slot="header" />
    <slot name="sidebar" slot="sidebar" />
</Default> -->
