<!--
Can use this to add Wowhead tooltips to the page/site
Reference: https://www.wowhead.com/tooltips#all-games-other-resources

Both examples below are for the same item and will be parsed automatically to display the wowhead tooltip
Example Use:
<a href="https://www.wowhead.com/item=25697" class="q3" data-wowhead="gems=23121&amp;ench=2647&amp;pcs=25695:25696:25697">Felstalker Bracers</a>
https://www.wowhead.com/item=25697

-->
<script is:inline>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script is:inline src="https://wow.zamimg.com/js/tooltips.js"></script>
